.chip {
  align-items: center;
  background-color: #1b1b1b;
  border: 1px solid;
  border-color: var(--strokedark);
  border-radius: 4px;
  display: inline-flex;
  gap: 4px;
  height: 28px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 8px;
  position: relative;
}

.chip .chip-label {
  color: var(--textdefaultdarkprimary);
  flex: 1;
  font-family: var(--roboto-14pt-regular-font-family);
  font-size: var(--roboto-14pt-regular-font-size);
  font-style: var(--roboto-14pt-regular-font-style);
  font-weight: var(--roboto-14pt-regular-font-weight);
  letter-spacing: var(--roboto-14pt-regular-letter-spacing);
  line-height: var(--roboto-14pt-regular-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.chip .close {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}
